//LAYOUT
$padding: 1em;

// BREAKPOINTS

// COLORS
$primary-color: #009EE0;
$primary-color-hover: #22b8f7;
$primary-color-active: #028ac3;
$gray: #f6f6f6;
$white: #ffffff;
$main-font: 'Slabo 13px';

$header-height: 65px;